body {
background-color: beige;
color: darkblue;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
margin: 0;
padding: 0;
}
h1 {
margin-top: 20px;
}
input[type="text"] {
padding: 10px;
margin-top: 20px;
border: 2px;
border-radius: 5px;
}
p {
margin-top: 20px;
font-weight: bold;
}